<div class="section advantages">
    <div class="container">
        <h2>Наши преимущества</h2>
        <div class="advantages-item">
            <img src="images/advantages-1.png" alt="advantages" class="advantages-img">
            <p class="advantages-text">Очень долго подбирали разные варианты для того, чтобы отпраздновать свой юбилейный День рождения в путешествии и не могли определиться... Решили обратиться за помощью в турагенство. Гульнара, выслушав все пожелания, предложила отдых в Турции, отель Justiniano Club Park Conti 5* в Окурджалар возле Аланьи. Мы очень благодарны ей за предложенный вариант!!!! Отдых получился отличный! Отель с большой ухоженной территорией, внимательный обслуживающий персонал. Отличный номер с видом на море. </p>
        </div>

    </div>
</div>