<footer class="footer">
    <div class="container footer-flex">
        <div class="info-agency">
            <div class="logo"></div>
            <p>Кураж тур агенство,которое предоставляет услуги по поиску, оформлению и подбору туров для вас и ваших
                родных.</p>
            <div class="create-by">Создание сайта — </div>
        </div>

        <div class="site-navigation">
            <div class="navigation">
                <div>Навигация</div>
                <ul>
                    <li><a href="">Главная</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Туры</a></li>
                    <li><a href="">Контакты</a></li>
                    <li><a href="">Услуги</a></li>
                </ul>
            </div>

            <div class="support">
                <div>Поддержка</div>
                <ul>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Блог</a></li>
                    <li><a href="">Обратная связь</a></li>
                </ul>
            </div>
        </div>

        <div class="our-contacts">
            <div>Контакты</div> 

            <div class="adress-block">
                <p class="flaticon-placeholder adress-name">г. Харьков, ул. Лермонтовская 10а</p>
                <p class="flaticon-telephone adress-phone">+38 (099) 990-81-00</p>
              </div>

            <div class="soc">
                <a href="#" class="flaticon-facebook  item-soc"></a>
                <a href="#" class="flaticon-instagram item-soc"></a>
              </div>
        </div>
    </div>
</footer>