<section class="form">
    <div class="container">
        <h2>Хочу предложение по туру</h2>
        <form action="#">
            <input type="text" placeholder="Имя" required>
            <input type="email" placeholder="Email" required>
            <input type="tel" placeholder="Телефон" required>

            <!-- <div class="dd-button"> Dropdown</div> -->

            <select name="country" id="country-select">
                    
             <option data-display>Страна тура</option>
                <option value="Egypt">Египет</option>
                <option value="Sri-Lanka">Шри-Ланка</option>
                <option value="Dominicana">Доминикана</option>
            </select>

            <input type="submit" value="Получить предложение" class=btn-offer>
        </form>
    </div>
</section>