<header class="header">
  <div class="container">
    <div class="header-top">
      <div class="logo">
        <a href="#"><img src="images/logo.png" alt="Кураж-Тур"></a>
      </div>
      <div class="right-block">
        <div class="contacts">
          <div class="adress">
            <a href="#" class="flaticon-placeholder item-adress">г. Харьков, ул. Мироносицкая 10а</a>
            <a href="#" class="flaticon-telephone item-adress">+38 (099) 990-81-00 (viber, telegram)</a>
          </div>
          <div class="soc">
            <a href="#" class="flaticon-facebook  item-soc"></a>
            <a href="#" class="flaticon-instagram item-soc"></a>
          </div>
        </div>

        <div class="main-menu">
         
          <a class="menu-link" href="#" id="hamburger"><span></span>
          </a>
          <div id="mobile-navigation">
              <div id="overlay"></div>
            <ul class="nav">
              <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
              <li class="nav__item "><a href="#" class="nav__link dropdown">Туры</a>
                <ul class="submenu submenu-tour">
                  <li><a href="#">Горящие туры</a></li>
                  <li><a href="#">Поиск тура</a></li>
                  <li><a href="#">Туры по Украине</a></li>
                  <li><a href="#">Экскурсионные туры</a></li>
                  <li><a href="#">Week end туры</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">Страны</a></li>
              <li class="nav__item"><a href="#" class="nav__link dropdown">Услуги</a>
                <ul class="submenu submenu-service">
                  <li><a href="#">Авиабилеты</a></li>
                  <li><a href="#">Визовая поддержка</a></li>
                  <li><a href="#">Индивидуальный трансфер</a></li>
                  <li><a href="#">Подарочные сертификаты</a></li>
                  <li><a href="#">Бронирование отелей
                      и апартаментов</a></li>
                  <li><a href="#">Как забронировать и
                      оплатить тур</a></li>
                </ul>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">О компании</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>