<div class="custom-swiper">

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide__inner">
                    <div class="container">
                        <div class="swiper-slide__description">
                            <h2 class="slider-title">Лучшие предложения по солнечному Египту из Харькова</h2>
                            <button class="link-offer">Получить предложение</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide__inner">
                    <div class="container">
                        <div class="swiper-slide__description">
                            <h2 class="slider-title">Лучшие предложения по солнечному Египту из Харькова</h2>
                            <button class="link-offer">Получить предложение</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide__inner">
                    <div class="container">
                        <div class="swiper-slide__description">
                            <h2 class="slider-title">Лучшие предложения по солнечному Египту из Харькова</h2>
                            <button class="link-offer">Получить предложение</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="container custom-swiper-pagination">
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>
