<section class="tabs-slider">
    <div class="container">
        <ul id="tabs">
            <li><a href="#" title="tab1">Горящие туры</a></li>
            <li><a href="#" title="tab2">Популярные туры</a></li>
        </ul>
    </div>

    <div id="content">
        <div id="tab1">
            <div class="swiper-object">
                <div class="swiper-container" id="tabs-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-1.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a class="tour-btn" href="#"></a>
                            </div>
                        </div>
                        <a href="#" class="swiper-slide">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="description-tour">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto prov
                                    orrupti
                                    ut provident. Laborum, illo!</p>
                            </div>
                        </a>
                        <a href="#" class="swiper-slide">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="description-tour">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto provide
                                    illo!</p>
                            </div>
                            <a href="#" class="swiper-slide">
                                <img src="images/tab-1-1.png" alt="tour">
                                <div class="description-tour">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto prov
                                        orrupti
                                        ut provident. Laborum, illo!</p>
                                </div>
                            </a>
                            <a href="#" class="swiper-slide">
                                <img src="images/tab-1-1.png" alt="tour">
                                <div class="description-tour">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto prov
                                        orrupti
                                        ut provident. Laborum, illo!</p>
                                </div>
                            </a>
                            <a href="#" class="swiper-slide">
                                <img src="images/tab-1-1.png" alt="tour">
                                <div class="description-tour">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, architecto prov
                                        orrupti
                                        ut provident. Laborum, illo!</p>
                                </div>
                            </a>
                    </div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next next"></div>
                <div class="swiper-button-prev prev"></div>
            </div>
        </div>


        <div id="tab2">
            <a href="#" class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>

                <div class="description">
                    <h3>Men</h3>
                    <p class="name">Converse Breakpoint Suede Blue</p>
                    <p class="number-id"><span>&#35</span>16378271</p>
                </div>
            </a>
            <a href="#" class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>

                <div class="description">
                    <h3>Men</h3>
                    <p class="name">Converse Breakpoint Suede Blue</p>
                    <p class="number-id"><span>&#35</span>16378271</p>
                </div>
            </a>
            <a href="#" class="sneakers">
                <div class="price">$45.00</div>
                <div class="sale-price">$60.00</div>
                <div class="discount">-25%</div>
                <div class="description">
                    <h3>Men</h3>
                    <p class="name">Converse Breakpoint Suede Blue</p>
                    <p class="number-id"><span>&#35</span>16378271</p>
                </div>
            </a>
        </div>
    </div>