<div class="tabs-slider">
    <div class="container">
        <ul id="tabs">
            <li><a href="#" title="tab1">Горящие туры</a></li>
            <li><a href="#" title="tab2">Популярные туры</a></li>
        </ul>
    </div>

    <div id="content">
        <div id="tab1">
            <div class="swiper-object" id="hot-tours">
                <div class="swiper-container" id="tabs-slider-hot">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-1.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-1.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-1.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-1.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next next"></div>
                <div class="swiper-button-prev prev"></div>
            </div>
        </div>
   


        <div id="tab2">
            <div class="swiper-object" id="popular-tours">
                <div class="swiper-container" id="tabs-slider-popular">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                        <div class="swiper-slide tour">
                            <img src="images/tab-1-2.png" alt="tour">
                            <div class="tour-description">
                                <div class="tour-name">8 марта в Cyrene Sharm hotel</div>
                                <p class="tour-date">(12.03.2018 — 19.03.2018)</p>
                                <p class="tour-conditions">Перелёт, питание по системе all inclusive, трансфер</p>
                                <p class="tour-price">1 259 грн <sup>/за 1 человека</sup></p>
                                <a href="#" class="tour-btn"></a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Add Arrows -->
                <div  class="swiper-button-next next"></div>
                <div  class="swiper-button-prev prev"></div>
            </div>
        </div>

    </div>
</div>