.advantages {
    background-color: $bg-tabs;
    padding: 40px 0 75px 0;
    h2 {
        font-family: $font_bd;
        font-size: $section-title;
        margin-bottom: 55px;
        text-transform: uppercase;
    }
}
