.custom-swiper {
    height: 737px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    // &::after {
    //   display: block;
    //   content: "";
    //   padding-bottom: 33%;
    //   padding-bottom: 40%;
    //   width: 100%;
    // }

    .swiper-container {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    .swiper-slide {
        background: url('../images/bg-banner.png') center no-repeat/cover;
        color: $secondary;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        overflow: hidden;
        position: relative;
        width: 100%;

        &__inner {
            bottom: 130px;

            left: 0;
            padding: 65px 0 45px 0;
            position: absolute;
            right: 0;
            z-index: 4;

            @include medium {
                bottom: 60px;
                left: 100px;
            }
            @include small {
                bottom: 100px;
                left: 40px;
                padding: 25px;
                right: 40px;
                text-align: center;
                top: 333px;
            }
            // @include small {
            //     display: none;
            // }

            &::before {
                background-color: opacify($header-bg, 0);
                bottom: 0;
                content: '';
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                transform: translateX(-19%);
                @include medium {
                    transform: translateX(-6%);
                }
                @include small {
                    top: 100px;
                    bottom: -15px;
                    transform: translateX(0%);
                }
            }
        }

        &__description {
            position: relative;
            z-index: 2;

            @include medium {
                left: -6%;
                text-align: center;
            }
            @include small {
                top: 100px;
            }

            .slider-title {
                font-family: $font-bd;
                font-size: $fs-lg;
                @include medium {
                    font-size: $section-title;
                }
                @include small {
                    font-size: $paragraph;
                    line-height: 1.5;
                    // padding-top: 0;
                }
            }

            .link-offer {
                background-color: $bg-link;
                border: 0;
                border-radius: 10px;
                color: $main;
                display: inline-block;
                font-family: $font-main;
                font-size: $subtitle;
                margin-top: 40px;
                padding: 15px 30px;
                @include small {
                    margin-top: 10px;
                    padding: 10px 5px;
                }
            }
        }
    }

    .swiper-pagination-bullet {
        background-color: $secondary;
        height: 14px;
        margin: 0 6px;
        opacity: 0.8;
        width: 14px;

        // .swiper-pagination {
        //     text-align: left;
        // }
    }

    .swiper-pagination-bullet-active {
        background-color: $bg-link;
    }

    .custom-swiper-pagination {
        bottom: 30px;
        left: 0;
        position: absolute;
        right: 0;

        @include medium {
            left: 50%;
            margin-left: -25px;
        }
        @include small {
            bottom: 60px;
            left: 50%;
            margin-left: -40px;
        }
    }
}
