// @mixin font($font-family: $font_lt, $size: $fs, $color: $text) {
//     font-family: sans-serif;
//     font-size: $fs-md;
//     color: $main;
// }
@mixin yellow-button {
    background-color: $bg-link;
    border: 0;
    border-radius: 10px;
    color: $main;
    display: inline-block;
    font-family: $font-main;
    font-size: $subtitle;
    margin-top: 40px;
    padding: 15px 30px;
    &:hover {
        box-shadow: 0 0 10px $secondary;
    }
}
