// colors
$main: #000;
$secondary: #fff;
$contact-link: #f3f3f3;
$submenu: rgba(51, 151, 226, 0.8);
$header-bg: rgba(0, 76, 132, 0.5);
$bg-link: #fbd341;
$bg-tabs: #f8f7f7;
$description: #3a3a3a;

// fonts
$font-main: 'ArialMT', sans-serif;
$font_bd: 'Arial-BoldMT', sans-serif;

// font-size
$fs: 14px;
$fs-sm: 11px;
$paragraph: 16px;
$tour-title: 17px;
$subtitle: 18px;
$fs-md: 20px;
$section-title: 24px;
$fs-lg: 30px;
